#entete { 
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    grid-column: 1/span 2;
    border: solid 1px black;
    background-color:#FFD0E6;
    }

#footer {
    grid-column: 1/span 2;
    grid-row: 3;
    background-color:#FFD0E6;
    border: solid 1px black;
}

body {
    font-family: Trebuchet MS, Arial, sans-serif;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 100px 650px 1fr;
    width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #DB6A8F;
    }

#menu {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    border: solid 1px black;
    background-color: #A7E0E0;
}

form {
    margin: 20px;
    margin-bottom: 50px;
}

#events ul{
    align-items: center;
    display: inline-block;
    vertical-align:top;
    margin: 10px;
    margin-bottom: 20px;
    /*font-size: smaller;*/

}

.rouge {
    color: red;
}


/************* Contenu ****************/
#contenu {
    grid-column: 1;
    border: solid 1px black;
    padding: 20px;
    background-color: #E0F4F5 ;
}

#tracker {
    display: grid;
    align-items: center;
    grid-template-columns: 270px 270px;
    grid-template-rows: 25px 25px;
    padding-bottom: 20px;
}

#map { 
    height: 500px; 
    width: 500px;
    padding: 10px;
    }

#startbutton {
    grid-column: 1;
    grid-row: 1;
}

#timer {
    grid-column: 1;
    grid-row: 2;
    margin-top: 20px;
    margin-left: 50px;
}

#downloadCSV{
    grid-column: 2;
    grid-row: 1;
    margin-left: 20px;
    margin-top: 20px;
}


/*********************** Titres ********************/

h1 {
    font-family: Arial;
    color: darkslateblue;
    font-weight: 800;
    font-size: 3em;
  }

h2 {
    font-family: Arial;
    color: purple;
    font-size: 2em;
    font-weight: 600;
    }

h3 {
    font-family: Arial;
    color: palevioletred;
    font-size: 1em;
    font-weight: bold;
}
p {
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: green;
    font-size: 1em;
}

a:hover, a:focus {
    color: red;
  }